<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.qa.ExtentReportListener.ExtentReport" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="cargurusproject.ByPrice" />
			<class name="cargurusproject.ByBodyStyle" />
			<class name="cargurusproject.Bycar" />
			<class name="cargurusproject.ByCarSearch" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
